{% extends 'kanbanka/base.html' %}

{% block title %}
Kanban Detail {{ kanban.id }}
{% endblock %}

{% block content %}
<div class="kanban-info">
    <h1 class="kanban-title">Канбан "{{ kanban.name }}"</h1>
    <h2 class="kanban-owner">Создатель - {{ kanban.owner }}</h2>
</div>
<div class="tasks-container">
    <div class="tasks-item task-planned">
        <h3>Новые задачи:</h3>
        <ol class="tasks-list">
            {% for task in tasks_planned %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if task.description %}
                         <p class="task-description">"{{ task.description|truncatechars:50 }}"</p>
                    {% endif %}
                    <p><a href="">Подробнее...</a></p>
                    {% if user == kanban.owner %}
                        <div class="control-buttons">
                            <p><a class="task-delete-button" href="{% url 'kanbanka:task_delete' task.id %}">Удалить</a></p>
                            <a class="task-change-status-button" href="{% url 'kanbanka:task_activate' task.id %}">Активировать задачу</a>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <li>
                    <p>Задач пока нет. Добавить новую?</p>
                    <a href="{% url 'kanbanka:task_create' %}">Добавить...</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="tasks-item task-active">
        <h3>Активные задачи:</h3>
        <ol class="tasks-list">
            {% for task in tasks_active %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if task.description %}
                         <p class="task-description">"{{ task.description|truncatechars:50 }}"</p>
                    {% endif %}
                    <p class="task-info">
                        Исполнитель: <strong>{{ task.executor }}</strong><br>
                        Назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                        Срок сдачи: {{ task.deadline_date }} в {{ task.deadline_time }}<br>
                    </p>
                    <p><a href="">Подробнее...</a></p>
                    {% if user == kanban.owner %}
                        <a href="{% url 'kanbanka:task_delete' task.id %}">Удалить</a><br>
                        <a href="{% url 'kanbanka:task_complete' task.id %}">Завершить задачу</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>
                    <p>Задач пока нет. Добавить новую?</p>
                    <a href="{% url 'kanbanka:task_create' %}">Добавить...</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="tasks-item task-completed">
        <h3>Завершённые задачи:</h3>
        <ol class="tasks-list">
            {% for task in tasks_completed %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if task.description %}
                         <p class="task-description">"{{ task.description|truncatechars:50 }}"</p>
                    {% endif %}
                    <p class="task-info">
                        Исполнитель: <strong>{{ task.executor }}</strong><br>
                        Назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                        Завершено: {{ task.completed_date }} в {{ task.completed_time }}<br>
                    </p>
                    <p><a href="">Подробнее...</a></p>
                    {% if user == kanban.owner %}
                        <a href="{% url 'kanbanka:task_delete' task.id %}">Удалить</a><br>
                    {% endif %}
                </li>
            {% empty %}
                <li>
                    <p>Задач пока нет. Добавить новую?</p>
                    <a href="{% url 'kanbanka:task_create' %}">Добавить...</a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="tasks-item task-overdue">
        <h3>Просроченные задачи:</h3>
        <ol class="tasks-list">
            {% for task in tasks_overdue %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if task.description %}
                         <p class="task-description">"{{ task.description|truncatechars:50 }}"</p>
                    {% endif %}
                    <p class="task-info">
                        Исполнитель: <strong>{{ task.executor }}</strong><br>
                        Назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                        Срок сдачи: {{ task.deadline_date }} в {{task.deadline_time }}<br>
                    </p>
                    <p><a href="">Подробнее...</a></p>
                    {% if user == kanban.owner %}
                        <a href="{% url 'kanbanka:task_delete' task.id %}">Удалить</a><br>
                    {% endif %}
                </li>
            {% empty %}
                <li>
                    <p>Задач пока нет. Добавить новую?</p>
                    <a href="{% url 'kanbanka:task_create' kanban.id %}">Добавить...</a>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% if user.is_authenticated and kanban.owner == user %}
    <a href="{% url 'kanbanka:task_create' kanban.id %}">Добавить задачу</a><br>
{% endif %}
{% endblock %}