{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <header>
            <nav>
                <a href="{% url 'kanbanka:index' %}">На главную...</a><br>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'admin:index' %}">Перейти в админку...</a><br>
                {% endif %}
            </nav>

            <div class="user_actions">
                {% if user.is_authenticated %}
                    <p>Вы вошли в аккаунт: {{ user.username }}</p>
                    <a href="{% url 'kanbanka:logout' %}">Выйти из аккаунта</a>
                    <p><a href="{% url 'kanbanka:user_tasks' %}">Мои задачи...</a></p>
                {% else %}
                    <p><a href="{% url 'kanbanka:login' %}">Войти в аккаунт...</a></p>
                    <p><a href="{% url 'kanbanka:signup' %}">Зарегистрировать новый аккаунт</a></p>
                {% endif %}
            </div>

            <div class="kanban_actions">
                {% if user.is_authenticated %}
                    <p><a href="{% url 'kanbanka:kanban_create' %}">Создать новый канбан</a></p>
                {% endif %}
            </div>
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer></footer>
    </div>
</body>
</html>